In [58]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [59]:
data = pd.read_csv('../../data/telecom_churn.csv')

In [60]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [61]:
data.drop(['State', 'Voice mail plan', 'International plan'], axis=1, inplace=True)

In [62]:
# нужно заменить на int 
# data['International plan'] = data['International plan'].map()

In [63]:
y = data['Churn'].astype('int')

In [64]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Churn, dtype: int64

In [65]:
X = data.drop('Churn', axis=1)

In [66]:
X.head()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0,128,415,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,107,415,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,137,415,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,84,408,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,75,415,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [67]:
X.shape, y.shape

((3333, 16), (3333,))

In [68]:
from sklearn.model_selection import train_test_split, cross_val_score

In [69]:
X_train, X_valid, y_train, y_valid =train_test_split(X, y, test_size=0.3, random_state=17)

In [70]:
X_train.shape, X_valid.shape

((2333, 16), (1000, 16))

In [71]:
first_tree = DecisionTreeClassifier(random_state=17)

In [74]:
np.median(cross_val_score(first_tree, X_train, y_train, cv=5))

0.86723768736616702

In [76]:
from sklearn.neighbors import KNeighborsClassifier

In [78]:
first_knn = KNeighborsClassifier()

In [80]:
np.median(cross_val_score(first_knn, X_train, y_train, cv=5))

0.86266094420600858

## настраиваем max_depth для дерева

In [82]:
from sklearn.model_selection import GridSearchCV

In [85]:
tree = GridSearchCV

In [87]:
GridSearchCV?

In [ ]:
tree_params = {'max_depth': np.arange(1, 11), 'max_features': }